.Card-ProductsHome {
  display: grid;
  grid-template-columns: auto;
  width: 150%;
}
.Card-Products {
  background-color: aqua;
  width: 100%;
  height: 20rem;
  padding: 10px;
  margin: 10px;
  border: 1px solid;
  border-radius: 8px;
}
.Image-product {
  width: 20rem;
  height: 10rem;
}

.form-Product {
  width: 10rem;
  height: 5rem;
}
#botton-search {
  width: 10rem;
  height: 5rem;
}
